*.o
*.lo
*.la
config.log
config.status
config.h
stamp-h1
.deps
.libs
collector/TmfBase/Hapy/Makefile
collector/TmfBase/Hapy/_configs.sed
collector/TmfBase/Hapy/doc/Makefile
collector/TmfBase/Hapy/libtool
collector/TmfBase/Hapy/src/Makefile
collector/TmfBase/Hapy/src/include/Hapy/ac-config.h
collector/TmfBase/Hapy/tests/Makefile
collector/dsc/Makefile
collector/dsc/dsc
collector/dsc/test/Makefile
autom4te.cache
Makefile.old
