*.o
*.lo
*.la
config.log
config.status
stamp-h1
.deps
.libs
Makefile
Makefile.in
src/TmfBase/Hapy/_configs.sed
src/TmfBase/Hapy/libtool
src/TmfBase/Hapy/src/include/Hapy/ac-config.h
src/dsc
src/dsc.conf.sample
autom4te.cache
Makefile.old
aclocal.m4
compile
configure
depcomp
install-sh
missing
test-driver
config.h
config.h.in~
