server f-root pao1 sfo2
server k-root A=k1.A,k2.A B=k1.B,k2.B C=k1.C,k2.C
trace_windows 1hour 4hour 1day 1week
accum_windows 1day 2days 3days 1week
embargo 0
#anonymize_ip
#no_http_header
#hide_nodes

#
# To update domain_list all_tlds:
# dig @f.root-servers.net . axfr \
#   | awk '$3=="IN" && $4=="NS" {print $1}' \
#   | tr A-Z a-z \
#   | sed -e 's/\.$//' \
#   | grep . \
#   | sort \
#   | uniq \
#   | fmt 50 \
#   | sed -e 's/^/domain_list all_tlds /'

domain_list all_tlds ac ad ae aero af ag ai al am an ao aq ar arpa as
domain_list all_tlds asia at au aw ax az ba bb bd be bf bg bh bi biz bj
domain_list all_tlds bm bn bo br bs bt bv bw by bz ca cat cc cd cf cg ch
domain_list all_tlds ci ck cl cm cn co com coop cr cu cv cx cy cz de dj
domain_list all_tlds dk dm do dz ec edu ee eg er es et eu fi fj fk fm fo
domain_list all_tlds fr ga gb gd ge gf gg gh gi gl gm gn gov gp gq gr gs
domain_list all_tlds gt gu gw gy hk hm hn hr ht hu id ie il im in info
domain_list all_tlds int io iq ir is it je jm jo jobs jp ke kg kh ki km
domain_list all_tlds kn kp kr kw ky kz la lb lc li lk lr ls lt lu lv ly
domain_list all_tlds ma mc md me mg mh mil mk ml mm mn mo mobi mp mq mr
domain_list all_tlds ms mt mu museum mv mw mx my mz na name nc ne net nf
domain_list all_tlds ng ni nl no np nr nu nz om org pa pe pf pg ph pk pl
domain_list all_tlds pm pn pr pro ps pt pw py qa re ro rs ru rw sa sb sc
domain_list all_tlds sd se sg sh si sj sk sl sm sn so sr st su sv sy sz
domain_list all_tlds tc td tel tf tg th tj tk tl tm tn to tp tr travel
domain_list all_tlds tt tv tw tz ua ug uk us uy uz va vc ve vg vi vn vu
domain_list all_tlds wf ws xn--0zwm56d xn--11b5bs3a9aj6g xn--80akhbyknj4f
domain_list all_tlds xn--9t4b11yi5a xn--deba0ad xn--g6w251d xn--hgbk6aj7f53bba
domain_list all_tlds xn--hlcj6aya9esc7a xn--jxalpdlp xn--kgbechtv xn--zckzah
domain_list all_tlds ye yt yu za zm zw

valid_domains f-root all_tlds
