
# local_address
#
#	specifies a local IPv4 address.  used to determine the
#	"direction" of an IP packet: sending or receiving or other
#
local_address 127.0.0.1;

# run_dir
#
#	dsc passes this directory to chdir() after starting.
#
run_dir "/tmp";

# bpf_program
#
#	a berkely packet filter program.  it can be used to limit
#	the number and type of queries that the application receives
#	from the kernel.  note if you limit it to "udp port 53" the
#	IP-based collectors do not work
#
#	NOTE: bpf_program must GO BEFORE interface
#
bpf_program "udp port 53";
bpf_program "udp dst port 53 and udp[10:2] & 0x8000 = 0";

# interface
#
# 	specifies a network interface to sniff packets from.
#	can specify more than one.
#
interface fxp0;

#
# dns indexers:
#
#	client
#	client_subnet
#	null
#	qclass
#	qnamelen
#	qtype
#	rcode
#	tld
#
# dns filters:
#
#	any
#	queries-only
#	replies-only
#	popular-qtypes

dataset qtype dns All:null Qtype:qtype queries-only;
dataset rcode dns All:null Rcode:rcode replies-only;
dataset client_subnet dns All:null ClientSubnet:cip4_net queries-only min-count=10;
dataset qtype_vs_qnamelen dns Qtype:qtype QnameLen:qnamelen queries-only;
dataset qtype_vs_tld dns Qtype:qtype TLD:tld queries-only,popular-qtypes;
dataset rcode_vs_replylen dns Rcode:rcode MsgLen:msglen replies-only;
dataset certain_qnames_vs_qtype dns CertainQnames:certain_qnames Qtype:qtype queries-only;
dataset client_subnet2 dns Class:query_classification ClientSubnet:cip4_net queries-only min-count=5;

dataset direction_vs_ipproto ip Direction:ip_direction IPProto:ip_proto any;

# bpf_vlan_tag_byte_order
#
#	Set this to 'host' on FreeBSD-4 where the VLAN id that we
#	get from BPF appears to already be in host byte order.
bpf_vlan_tag_byte_order host;

match_vlan 100 200;
