server f-root pao1 sfo2
server k-root A B C
trace_windows 1hour 4hour 1day 1week
accum_windows 1day 2days 3days 1week
embargo 0
#anonymize_ip
#no_http_header

domain_list all_tlds ac ad ae af ag ai al am an ao aq ar as at au aw az ba bb bd be bf
domain_list all_tlds bg bh bi bj bm bn bo br bs bt bv bw by bz ca cc cd cf cg ch ci ck
domain_list all_tlds cl cm cn co cr cu cv cx cy cz de dj dk dm do dz ec ee eg eh er es
domain_list all_tlds et fi fj fk fm fo fr ga gd ge gf gg gh gi gl gm gn gp gq gr gs gt
domain_list all_tlds gu gw gy hk hm hn hr ht hu id ie il im in io iq ir is it je jm jo
domain_list all_tlds jp ke kg kh ki km kn kp kr kw ky kz la lb lc li lk lr ls lt lu lv
domain_list all_tlds ly ma mc md mg mh mk ml mm mn mo mp mq mr ms mt mu mv mw mx my mz
domain_list all_tlds na nc ne nf ng ni nl no np nr nu nz om pa pe pf pg ph pk pl pm pn
domain_list all_tlds pr ps pt pw py qa re ro ru rw sa sb sc sd se sg sh si sj sk sl sm
domain_list all_tlds sn so sr st sv sy sz tc td tf tg th tj tk tm tn to tp tr tt tv tw
domain_list all_tlds tz ua ug uk um us uy uz va vc ve vg vi vn vu wf ws ye yt yu za zm
domain_list all_tlds zw aero biz com coop info museum name net org pro gov edu mil int
domain_list all_tlds arpa .

valid_domains f-root all_tlds

dbi_datasource DBI:Pg:dbname=postgres
dbi_username dsc
#dbi_password secret

